# 21: Melakukan agregasi menggunakan agg()
# Import Modules

In [13]:
import pandas as pd

print(pd.__version__)

2.3.3

# Persiapan Data Frame

In [14]:
df = pd.read_csv('../DATTA/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Mengenal groupby() dan fungsi agregasi

In [15]:
df.groupby('Species')['PetalLengthCm'].count().to_frame()

                 PetalLengthCm
Species
Iris-setosa                 50
Iris-versicolor             50
Iris-virginica              50

In [16]:
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

                 PetalLengthCm
Species
Iris-setosa              1.464
Iris-versicolor          4.260
Iris-virginica           5.552

In [17]:
df.groupby('Species')['PetalLengthCm'].median().to_frame()

                 PetalLengthCm
Species
Iris-setosa               1.50
Iris-versicolor           4.35
Iris-virginica            5.55

# Agregasi dengan agg()

In [18]:
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

                 count   mean  median
Species
Iris-setosa         50  1.464    1.50
Iris-versicolor     50  4.260    4.35
Iris-virginica      50  5.552    5.55

# Agregasi dengan describe()

In [19]:
df.groupby('Species')['PetalLengthCm'].describe()

                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

# 22: Memantau penggunaan memory suatu Data Frame
# Import Modules

In [20]:
import pandas as pd

print(pd.__version__)

2.3.3

# Persiapan Data Frame

In [21]:
df_titanic = pd.read_csv('../DATTA/titanicfull.csv')
df_titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

In [23]:
df_iris = pd.read_csv('../DATTA/Iris.csv')
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Memantau penggunaan memory suatu Data Frame

In [ ]:
df_titanic.info(memory_usage='deep')

In [ ]:
df_iris.info(memory_usage='deep')

# Memantau penggunaan memory untuk setiap kolom dari suatu Data Frame

In [ ]:
df_titanic.memory_usage(deep=True)

In [ ]:
df_iris.memory_usage(deep=True)

# 23: Seleksi baris pada Data Frame dengan query()
# Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

# Persiapan Data Frame

In [ ]:
d = {'kolom_satu':[1, 2, 3, 4, 5], 
     'kolom dua':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

# Seleksi baris dengan query()

In [ ]:
df.query('kolom_satu > 2')

In [ ]:
df.query('`kolom dua` > 30')

# #24: UTC dan konversi zona waktu (time zone) pada Python Pandas
# Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

# Persiapan Series

In [ ]:
s = pd.Series(range(1591683521, 1592201921, 3600))
s = pd.to_datetime(s, unit='s')
s.head()

# Pengaturan zona waktu (time zone)

In [ ]:
s = s.dt.tz_localize('UTC')
s.head()

In [ ]:
s = s.dt.tz_convert('Asia/Jakarta')
s.head()

In [ ]:
s = s.dt.tz_convert('Australia/Hobart')
s.head()